<!DOCTYPE html>
<%- include header_admin %>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<style>
		body 		{ padding-top:80px; }
	</style>
  </head>
  
  <body>
  <div class="col-sm-6 col-sm-offset-3">
  <center>
  	<h2>Order Detail</h2>
  	<h4>You can view order detail or cancel this order.</h4>
  </center>

  <div class="panel panel-primary">
  	<div class="panel-heading">Order Information</div>
  	<div class="panel-body">
  		<% for(var i = 0; i < show.length; i++) {%>
	  		<b>First Name:</b> <%= show[i].User_fname%>
	  		<br><b>Last Name:</b> <%= show[i].User_lname%>
	  		<br><b>Identity Type:</b> <%= show[i].User_identi_type %>
	  		<br><b>Identity Number:</b> <%= show[i].User_identi %>
	  		<br><b>Flight Numebr:</b> <%= show[i].Flight_num %>
	  		<br><b>Flying From:</b> <%= show[i].Flight_scity %>
	  		<br><b>Flight to:</b> <%= show[i].Flight_ecity %>
	  		<br><b>Departing:</b> <%= show[i].Flight_stime %>
	  		<br><b>Arriving:</b> <%= show[i].Flight_etime %>
	  		<br><b>Flight Model:</b> <%= show[i].Flight_model %>
	  		<br><b>Price:</b> <%= show[i].History_price %>
	  		<br><b>Order Placed time:</b> <%= show[i].History_time %>	  		
	  	<% } %>
  	</div>
  </div>
  
  </div>
</body>
</html>
