<%- include header_user.ejs%>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<style>
		body 		{ padding-top:80px; }
	</style>
  </head>
 <div class="col-sm-6 col-sm-offset-3">
<div class="panel panel-primary">
  	<div class="panel-heading">Flight Information</div>
  	<div class="panel-body">
  		<% for(var i = 0; i < show.length; i++) {%>
	  		<b>Flight Number:</b> <%= show[i].Flight_num%>
	  		<br><b>Airline Company:</b> <%= show[i].Flight_compnay%>
	  		<br><b>AirPlane Model:</b> <%= show[i].Flight_model %>
	  		<br><b>Departure City:</b> <%= show[i].Flight_scity %>
	  		<br><b>Arrival City:</b> <%= show[i].Flight_ecity %>
	  		<br><b>Departure Time:</b> <%= show[i].Flight_stime %>
	  		<br><b>Arrival Time:</b> <%= show[i].Flight_etime %>
	  		
	  		<br><b>Economy Class Available Seats:</b> <%= show[i].Flight_Eseats %>
	  		<br><b>Business Class Available Seats:</b> <%= show[i].Flight_Bseats %>
	  		<br><b>First Class Available Seats:</b> <%= show[i].Flight_Fseats %>
	  		
	  		
	  		<br><b>Economy Class Price ($):</b> <%= show[i].Flight_Eprice %>
	  		<br><b>Business Class Price:</b> <%= show[i].Flight_Bprice %>	 
	  		<br><b>First Class Price:</b> <%= show[i].Flight_Fprice %>
	  		

	  		 <form action ="/order" method="post">
	  		<input type="hidden" name="userId" value=<%=userId%>>
	  		<input type="hidden" name="flightId" value= <%=show[i].Flight_id %>>
	  		<select class = "selectpicker" name="seatType">
	  		<option value="First">First Class</option>
	  		<option value="Business">Business Class</option>
	  		<option value="Economy">Economy Class</option>
	  		</select>
	  		<button type="submit" class="btn btn-primary">Book!</button>
	  		</form>		
	  	<% } %>
  	</div>
  </div>
  </div>